.PostDetail {
  margin: 2rem 0;  
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.PostDetail-editArea i {
  margin: 0 0.3rem;
  cursor: pointer;
}

.editBtn {
  color: #368EDA;
}
.deleteBtn {
  color:#D85D50
}

.PostDetail-right {
  text-align: right;
}

